<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">c:/tempLogs</Property>
    </Properties>
    <CustomLevels>
        <CustomLevel name="VERBOSE" intLevel="550"/>
    </CustomLevels>
    <Appenders>
        <Console name="STDOUT"  target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="FileAppender" fileName="${APP_LOG_ROOT}/app.log"
                     filePattern="${APP_LOG_ROOT}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="FileAppenderVerbose" fileName="${APP_LOG_ROOT}/appVerbose.log"
                     filePattern="${APP_LOG_ROOT}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="VERBOSE" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="FileAppenderError" fileName="${APP_LOG_ROOT}/appError.log"
                     filePattern="${APP_LOG_ROOT}/appError-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Logger name="com.example.logdemo" level="VERBOSE" additivity="false">
            <AppenderRef ref="FileAppenderVerbose"/>
        </Logger>

        <Logger name="com.example.logdemo" level="DEBUG" additivity="false">
            <AppenderRef ref="FileAppender" level="INFO"/>
            <AppenderRef ref="FileAppenderError" level="ERROR"/>
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="FileAppenderError" level="ERROR"/>
            <AppenderRef ref="FileAppender" level="INFO"/>
            <AppenderRef ref="FileAppenderVerbose" level="VERBOSE"/>
            <AppenderRef ref="STDOUT" />

        </Root>
    </Loggers>
</Configuration>
